div(class="People")
	h2(class="People-title u-title") People
	p(class="People-description u-description") Everywhere you go someone will be there willing to lend a helping hand, do I need to say more?