section(class="Layout" id="main")
	nav(class="Layout-nav")
		include ../nav/template.jade
	div(class="Layout-intro" id="intro")
		include ../intro/template.jade
	div(class="Layout-food" id="food")
		include ../food/template.jade
	div(class="Layout-people" id="people")
		include ../people/template.jade
	div(class="Layout-music" id="music")
		include ../music/template.jade
	div(class="Layout-culture" id="culture")
		include ../culture/template.jade
	div(class="Layout-quote" id="quote")
		include ../quote/template.jade
	div(class="Layout-architecture" id="arch")
		include ../architecture/template.jade
	div(class="Layout-nightLife" id="night")
		include ../nightLive/template.jade
	div(class="Layout-outro" id="outro")
		include ../outro/template.jade