div(class="Food")
	h2(class="Food-title u-title") Food
	p(class="Food-description u-description") Freshness, flavors, diversity and quality of Mexican food. You can get spicy or sweet you name it. From Pambazos to Churros, you can eat on the street or on a three Michelin-starred Restaurant.