div(class="Music")
	h2(class="Music-title u-title") Music
	p(class="Music-description u-description") We go from Mariachi to Modern Rock and hell we know how to do it we always play those infectious tunes. 
	span(class="u-fact") Did you know that Bob Dylan wrote Knock Knocking on Heavens Door here in Mexico?