div(class="Architecture")
	h2(class="Architecture-title u-title") Architecture
	p(class="Architecture-description u-description") Mexico is home to some of the richest archaeological sites in the world, and in the city, you won't belive it, from big ass skywrappers to a beautiful church in the middle of a town. Ok, we have a motherfuckin castle in the City, how cool is that?