span(class="btn icon-menu" id="menu")
ul(class="Nav")
	li(class="Nav-item")
		a(href="#intro") Intro
	li(class="Nav-item")
		a(href="#food") Food
	li(class="Nav-item")
		a(href="#people") People
	li(class="Nav-item")
		a(href="#music") Music
	li(class="Nav-item")
		a(href="#culture") Culture
	li(class="Nav-item")
		a(href="#quote") Quote
	li(class="Nav-item")
		a(href="#arch") Architecture
	li(class="Nav-item")
		a(href="#night") Night Life
	li(class="Nav-item")
		a(href="#outro") Outro