div(class="Outro") 
	h2(class="Outro-title u-title") Made with love
	span(class="") by Ederyairr
	ul(class="Outro-social")
		a(href="https://twitter.com/ederyairr") 
			li(class="Outro-socialTwitter icon-twitter")
		a(href="https://instagram.com/ederyairr/") 
			li(class="Outro-socialInstagram icon-instagram")
		a(href="https://github.com/ederyair") 
			li(class="Outro-socialGithub icon-github")  